:root{
  --header: 150px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f1f1;
  color: #524f4f;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}

.section__card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold{
  font-weight: bold;
}
.padding-top-8{
  padding-top: 8px;
}

.d-flex{
  display: flex;
}

.d-center{
  justify-content: center;
  align-items: center;
}
/**---------------------------------
================ HEADER ============
----------------------------------**/

.header{
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
}

.header__title{

}

/**-----------------------------
================ CARD =========
------------------------------*/
.card{
  border: solid 1px #524f4f;
  border-radius: 8px;
  padding: 12px;
  width: 680px;
}

.card__title{
  text-align: center;
  padding: 8px;
}

/**-------------------------
============= LIST =========
--------------------------**/

.list{
  padding: 8px;
  list-style: none;
}
.list__item{
  padding: 6px;
}
.list__item:last-child{
  border-bottom: none;
}
.list__item:nth-child(2n + 1){
  background-color: #524f4f;
  color: #f2f2f2;
}

/**-------------------------
============= INPUT =========
--------------------------**/
.control{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4px;
}

.control--row{
  flex-direction: row;
}
.control__label{

}

.control__input{
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #524f4f;
}

/**-------------------------
============= BUTTON =========
--------------------------**/
.button{
  padding: 12px;
  background-color: #524f4f;
  color: #f1f1f1;
  border: none;
  border-radius: 4px;
}
.button--blue{
  background-color: #3c6bec;
}